@font-face {
    font-family: 'Open Sans';
    src: url("fonts/opensans-regular-webfont.woff2"), url("fonts/opensans-regular-webfont.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url("fonts/opensans-semibold-webfont.woff2"), url("fonts/opensans-semibold-webfont.woff");
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url("fonts/opensans-bold-webfont.woff2"), url("fonts/opensans-bold-webfont.woff");
    font-weight: 700;
}

:root {
    --backgroundColor: #e5e5e5;
    --mainColor: #9d5cd0;
    --whiteTextColor: #ffffff;
    --h2FontSize: 48px;
    --h3FontSize: 24px;
    --headerLinkFontSize: 18px;
    --pFontSize: 16px;
    --activeColor: #7943A4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans';
    background-color: var(--whiteTextColor);
}

p, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    width: calc(1600*100%/1920);
}

.button {
    display: inline-block;
    padding: 17px 35px;
    border: 2px solid var(--mainColor);
    border-radius: 100px;
}

.button {
    cursor: pointer;
}

.section-heading {
    font-size: var(--h2FontSize);
    line-height: 48px;
    font-weight: 400;
}

.section-text {
    margin-top: 20px;
    width: calc(1086*100%/1600);
    font-size: var(--pFontSize);
    line-height: 32px;
}

/* header-top */

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding: 29px 0;
    background-color: #000000;
    z-index: 2;
}

.burger-menu {
    display: none;
    margin-right: 10px;
}

.burger-menu:focus {
    outline: 2px solid var(--mainColor);
}

.burger-menu__icon {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 36px;
    height: 28px;
    border: none;
    background: transparent;
}

.burger-menu__icon:hover {
    cursor: pointer;
}

.burger-menu__icon span {
    display: block;
    height: 3.65px;
    background: var(--whiteTextColor);
}

.burger-menu__icon span:nth-child(1) {
    width: 100%;
}

.burger-menu__icon span:nth-child(2) {
    margin-top: auto;
    width: 80%;
}

.burger-menu__icon span:nth-child(3) {
    margin-top: auto;
    width: 60%;
}

.burger-menu__window {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 29px;
    padding-bottom: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.burger-menu__window-disabled {
    display: none;
}

.burger-menu__closeIcon {
    position: relative;
    width: 29px;
    height: 29px;
}

.burger-menu__closeIcon:hover {
    cursor: pointer;
}

.burger-menu__closeIcon span::before {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3.73px;
    background: var(--whiteTextColor);
    transform: rotate(45deg);
}

.burger-menu__closeIcon span::after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3.73px;
    background: var(--whiteTextColor);
    transform: rotate(-45deg);
}

.burger-menu__list {
    margin-top: 55px;
}

.burger-menu__item {
    margin-top: 40px;
}

.burger-menu__auth {
    display: inline-block;
    margin-top: 135px;
    padding: 20px 95px;
    border: 2px solid var(--mainColor);
    border-radius: 100px;
    background: none;
}

.header-top .search {
    display: none;
}

.search__input-disabled {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logo a:focus {
    outline: 2px solid var(--activeColor);
}

.navigation {
    margin: 0 auto;
    flex-basis: 900px;
}

.auth {
    margin-left: 10px;
    flex-shrink: 0;
}

.navigation__list {
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: auto;
}

.navigation__link {
    color: var(--whiteTextColor);
    font-size: var(--headerLinkFontSize);
    font-weight: 600;
}

.navigation__link:focus {
    outline: 2px solid var(--activeColor);
}

.navigation__link:hover {
    color: var(--mainColor);
}

.navigation__link:active {
    color: var(--activeColor);
}

.auth__link {
    color: var(--whiteTextColor);
    font-size: var(--headerLinkFontSize);
    font-weight: 600;
}

.auth__icon {
    display: inline-block;
    margin-right: 7px;
    width: 13px;
    height: 13px;
}

.auth__link:focus {
    outline: 2px solid var(--activeColor);
}

.auth__link:hover {
    color: var(--mainColor);
}

.auth__link:hover .auth__icon svg path {
    fill: var(--mainColor);
}

.auth__link:active {
    color: var(--activeColor);
}

.auth__link:active .auth__icon svg path {
    fill: var(--activeColor);
}

.search__window {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 36px;
    width: 100%;
    height: 75px;
    overflow: hidden;
    background: url('background_img/gallery/search-320.jpg') center/cover no-repeat;
}

.search__window-disabled {
    display: none;
}

.search__window .container {
    display: flex;
    flex-direction: row-reverse;
}

.search__window .burger-menu__closeIcon {
    margin-left: auto;
}

.search__window .search {
    width: 615px;
}

.search__window .search__input {
    width: 100%;
    z-index: 1;
}

.search__window .search__input::placeholder {
    visibility: hidden;
}

/* header-bot */

.header-bot {
    position: relative;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.product-nav {
    margin-right: auto;
    flex-basis: 1040px;
}

.product-nav__list {
    display: flex;
}

.product-nav__header {
    cursor: pointer;
}

.product-nav__item {
    color: var(--whiteTextColor);
    font-size: var(--headerLinkFontSize);
    font-weight: 600;
}

.product-nav__item:not(:last-child) {
    margin-right: auto;
}

.product-nav__item:focus {
    outline: 2px solid var(--activeColor);
}

.product-nav__item:hover {
    color: var(--mainColor);
}

.product-nav__item:hover .product-nav__arrow {
    background: url("background_img/arrowHover.svg") center center no-repeat;
}

.product-nav__item:active {
    color: var(--activeColor);
}

.product-nav__item:active .product-nav__arrow {
    background: url("background_img/arrowActive.svg") center center no-repeat;
}

.product-nav__arrow {
    margin-left: 4px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("background_img/arrow.svg") center center no-repeat;
    transition: transform .3s linear;
}

.product-nav__arrow-open {
    transform: rotate(180deg);
    transition: transform .3s linear;
}

.popup__menu {
    position: absolute;
    top: 68.75px;
    padding: 40px 0 40px 40px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: opacity .3s linear;
}

[data-simplebar] {
    overflow: auto;
}

.product-nav__menuList {
    width: 100%;
    height: 100%;
    padding-right: 40px;
}

.popup__menu .simplebar-scrollbar::before {
    left: 0;
    right: 0;
    width: 5px;
    border-radius: 0;
    background-color: var(--mainColor);
    opacity: 1;
}

.popup__menu .simplebar-track {
    right: 20px;
    width: 2px;
    background: black;
    z-index: 0;
}

.popup__menu-disabled {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
}

.product-nav__menuItem {
    margin: 2px;
}

.product-nav__menuItem:not(:last-child) {
    margin-bottom: 20px;
}

.product-nav__menuLink {
    display: block;
    position: relative;
    padding: 11px 124px 11px 14px;
    color: var(--whiteTextColor);
    font-size: var(--pFontSize);
}

.product-nav__menuLink:hover, .product-nav__menuLink:focus {
    outline: 2px solid var(--mainColor);
}

.product-nav__menuLink:active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(194, 131, 243, 0.4);
}

.menuLink1_1 {
    background-image: url(background_img/headerbot/menuLink1_1.jpg);
}

.menuLink1_2 {
    background-image: url(background_img/headerbot/menuLink1_2.jpg);
}

.menuLink1_3 {
    background-image: url(background_img/headerbot/menuLink1_3.jpg);
}

.menuLink1_4 {
    background-image: url(background_img/headerbot/menuLink1_4.jpg);
}

.menuLink2_1 {
    background-image: url(background_img/headerbot/menuLink2_1.jpg);
}

.menuLink2_2 {
    background-image: url(background_img/headerbot/menuLink2_2.jpg);
}

.menuLink2_3 {
    background-image: url(background_img/headerbot/menuLink2_3.jpg);
}

.menuLink2_4 {
    background-image: url(background_img/headerbot/menuLink2_4.jpg);
}

.menuLink3_1 {
    background-image: url(background_img/headerbot/menuLink3_1.jpg);
}

.menuLink3_2 {
    background-image: url(background_img/headerbot/menuLink3_2.jpg);
}

.menuLink3_3 {
    background-image: url(background_img/headerbot/menuLink3_3.jpg);
}

.menuLink3_4 {
    background-image: url(background_img/headerbot/menuLink3_4.jpg);
}

.menuLink4_1 {
    background-image: url(background_img/headerbot/menuLink4_1.jpg);
}

.menuLink4_2 {
    background-image: url(background_img/headerbot/menuLink4_2.jpg);
}

.menuLink4_3 {
    background-image: url(background_img/headerbot/menuLink4_3.jpg);
}

.menuLink4_4 {
    background-image: url(background_img/headerbot/menuLink4_4.jpg);
}

.menuLink5_1 {
    background-image: url(background_img/headerbot/menuLink5_1.jpg);
}

.menuLink5_2 {
    background-image: url(background_img/headerbot/menuLink5_2.jpg);
}

.menuLink5_3 {
    background-image: url(background_img/headerbot/menuLink5_3.jpg);
}

.menuLink5_4 {
    background-image: url(background_img/headerbot/menuLink5_4.jpg);
}

.search {
    margin-left: 10px;
    display: flex;
}

.search:focus {
    outline: none;
}

.search:focus {
    outline: 2px solid var(--mainColor);
}

.search:focus .search__input {
    border-bottom: 1px solid var(--mainColor);
}

.search:hover .search__button-img {
    background: url(background_img/searchActive.svg) no-repeat;
}

.search:hover .search__input {
    border-bottom: 1px solid var(--mainColor);
}

.search:focus-within .search__button-img {
    background: url(background_img/searchActive.svg) no-repeat;
}

.search__button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search__button-img {
    display: block;
    width: 23px;
    height: 22px;
    background: url(background_img/search.svg) no-repeat;
}

.search__button:focus {
    outline: 2px solid var(--mainColor);
}

.search__input {
    margin-left: 9px;
    padding: 5px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    background-color: transparent;
    color: var(--whiteTextColor);
    caret-color: var(--mainColor);
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    font-size: var(--headerLinkFontSize);
    color: rgba(255, 255, 255, 0.85);
}

/* HERO */

.section-hero {
    position: relative;
    margin: -170.45px 0 0 0;
    padding: 240px 0 127px 0;
    background: url("background_img/hero/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    animation: heroSize 2s linear infinite alternate;
}

.section-hero::after, .section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.section-hero::after {
    opacity: 0;
    background: url("background_img/hero/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    animation-name: heroSize, heroChange;
    animation-duration: 2s, 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.section-hero::before {
    opacity: 0;
    background: url("background_img/hero/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    animation-name: heroSize, heroChange;
    animation-duration: 2s, 10s;
    animation-delay: 0s, 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.section-hero__content {
    position: relative;
    width: 597px;
    z-index: 1;
}

.section-hero__header {
    font-size: 72px;
    font-weight: 700;
    line-height: 85px;
    color: var(--whiteTextColor);
}

.section-hero__text {
    margin-top: 18px;
    font-size: var(--headerLinkFontSize);
    font-weight: 700;
    line-height: 30px;
    color: var(--whiteTextColor);
}

.section-hero__button {
    margin-top: 95px;
    padding: 20.5px 35px;
    background-color: var(--mainColor);
    color: var(--whiteTextColor);
    font-weight: 700;
    font-size: var(--headerLinkFontSize);
}

.section-hero__button:visited {
    border-color: #7943A4;
}

.section-hero__button:hover {
    border-color: #D1A9F0;
}

.section-hero__button:focus {
    outline: none;
    border-color: #D1A9F0;
}

.section-hero__button:active {
    border-color: #D1A9F0;
    background-color: #7943A4;
}

/* section-we */

.section-we {
    padding-top: 88px;
    padding-bottom: 70px;
}

/* section-gallery */

.section-gallery {
    padding: 90px 0 70px 0;
    background: url('background_img/gallery/galery_1920.jpg') no-repeat center;
    background-size: cover;
}

.gallery-container {
    display: flex;
    margin-top: 20px;
}

.filter-menu {
    flex-basis: 25%;
}

.gallery__swiper-container {
    flex-basis: 72%;
    margin: -60px 0 0 auto;
    height: 830px;
}

.gallery-heading {
    color: var(--whiteTextColor);
}

.filter-menu__heading {
    margin-top: 10px;
    color: var(--whiteTextColor);
    font-size: 16px;
    font-weight: 600;
}

.choices {
    margin-top: 15px;
}

.is-focused .choices__inner, .is-open .choices__inner, .choices__inner {
    background: none;
    color: var(--whiteTextColor);
    border-radius: 6px;
    border-color: var(--whiteTextColor);
}

.choices__list--dropdown {
    background: none;
    color: #999;
    border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: none;
}

.choices__item--choice {
    border-bottom: #999 1px solid;
}

.choices__item--selectable:after {
    display: none;
}

.menu__note {
    width: 90%;
    margin-top: 550px;
    color: var(--whiteTextColor);
    line-height: 32px;
}

.is-selected {
    display: none;
}

.gallery__swiper-wrapper {
    justify-content: flex-end;
}

.gallery__swiper-slide {
    margin-right: 17px;
    height: auto;
}

.gallery__swiper-slide:hover::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    background: url('background_img/gallery/plus.svg') center no-repeat rgba(0, 0, 0, 0.4);
}

.gallery__pagination {
    top: 20px;
    left: 45px;
    width: 50px;
    bottom: auto;
    color: var(--whiteTextColor);
}

.gallery__button-next, .gallery__button-prev {
    top: 35px;
    width: 30px;
    height: 30px;
    background: grey;
    border-radius: 30px;
}

.gallery__button-next::after, .gallery__button-prev::after {
    font-size: 10px;
    color: var(--whiteTextColor);
}

.gallery__button-next::after {
    transform: translateX(2px);
}

.gallery__button-prev::after {
    transform: translateX(-2px);
}

.gallery__button-next {
    left: 100px;
}

.modal__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.modal__gallery-disabled {
    display: none;
}

.modal__content {
    position: relative;
    display: flex;
    width: 47%;
}

.modal__img {
    flex-basis: 44%;
}

.modal__description {
    flex-basis: 56%;
    padding: 121px 50px;
    background-color: var(--backgroundColor);
}

.description-heading {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.description-subtitle {
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: 600;
}

.description-text {
    margin: 5px 0 0 0;
    font-size: 12px;
    color: #969696;
}

.section-description {
    width: 80%;
}

.modal__closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__closeIcon span::before, .modal__closeIcon span::after {
    background: black;
}

.menu__note-adaptive {
    display: none;
}

/* section-catalog */

.section-catalog {
    padding: 75px 0 0 0;
}

.section-catalog__container {
    display: flex;
    align-items: center;
}

.language-pack__list {
    display: flex;
    margin-left: 15px;
    justify-content: space-around;
    flex-basis: 480px;
}

.language-pack__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.language-pack__item-active {
    border: solid 2px var(--activeColor);
}

.language-country {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-size: cover;
}

#FRA {
    background-image: url("background_img/catalog/lang-pack/FRA.png");
}

#BEL {
    background-image: url("background_img/catalog/lang-pack/BEL.png");
}

#DEU {
    background-image: url("background_img/catalog/lang-pack/DEU.png");
}

#ITA {
    background-image: url("background_img/catalog/lang-pack/ITA.png");
}

#RUS {
    background-image: url("background_img/catalog/lang-pack/RUS.png");
}

.language-country:hover {
    box-shadow: 0 0 20px rgba(157, 92, 208, 0.7);
}

.language-country:active {
    box-shadow: none;
}

.language-country:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: solid 2px var(--activeColor);
    border-radius: 50%;
}

.catalog-content {
    display: flex;
    margin-top: 35px;
}

.catalog-content__img {
    width: 100%;
}

.catalog-content__description {
    flex-basis: 47%;
    margin-right: 3%;
}

.catalog-content__subjectList {
    flex-basis: 50%;
}

.content-heading {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
}

.content-subtitle {
    margin: 15px 0 0 0;
    font-size: 12px;
    color: #999999;
}

.catalog-content__description .section-text {
    margin-top: 10px;
    width: 97%;
}

.ui-accordion .ui-accordion-header {
    display: flex;
    margin: 0;
    padding: 33px 0 30px 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    background: none;
}

.ui-accordion .catalog-content__subjectItem:first-child .ui-accordion-header {
    border-top: solid 1px #cacaca;
}

.ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon, .ui-icon, .ui-widget-content .ui-icon, .ui-state-active .ui-icon {
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
    background: url("background_img/catalog/arrow.svg") 40% 50%/40% no-repeat #ececec;
    border-radius: 50%;
    transform: rotate(90deg);
    transition: transform ease .3s;
}

.ui-state-active .ui-icon {
    transform: rotate(270deg);
}

.ui-state-active {
    color: black;
    background: none;
    border-bottom: none;
}

.ui-accordion-header-collapsed {
    border-bottom: solid 1px #cacaca;
}

.catalog-content__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
    height: 325px;
}

.catalog-content__item {
    margin: 0 10px 0 0;
    line-height: 32px;
    font-size: var(--pFontSize);
}

.catalog-content__item:hover {
    color: var(--mainColor);
    text-decoration: underline;
}

.catalog-content__item:active {
    color: var(--activeColor);
    text-decoration: none;
}

.catalog-content__active {
    color: var(--mainColor);
}

.ui-widget-content {
    padding-top: 18px;
    border: none;
    border-top: solid 1px var(--mainColor);
    border-bottom: solid 1px var(--mainColor);
}

.ui-state-focus {
    outline: solid 2px var(--mainColor);
}

.ui-state-hover .ui-icon {
    background-color: var(--mainColor);
}

.ui-state-hover {
    color: var(--mainColor);
    border-top: solid 1px;
    border-color: var(--mainColor);
}

.ui-accordion .catalog-content__subjectItem:first-child .ui-state-hover {
    border-color: var(--mainColor);
}

/* event */

.section-event {
    padding-top: 90px;
}

.section-event__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
}

.Museum_Shchuseva {
    background-image: url("background_img/event/Museum_Shchuseva.jpg");
}

.MMOMA {
    background-image: url("background_img/event/MMOMA.jpg");
}

.Jewish_Museum {
    background-image: url("background_img/event/Jewish_Museum.jpg");
}

.Tretyakov_Gallery {
    background-image: url("background_img/event/Tretyakov_Gallery.jpg");
}

.MMAM {
    background-image: url("background_img/event/MMAM.jpg");
}

.event-card {
    position: relative;
    margin-bottom: 30px;
    padding: 20% 25px 150px 51px;
    width: calc(100%/3 - 2%);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #cacaca;
}

.event-card:not(:nth-child(3n)) {
    margin-right: calc(6%/2);
}

.event-card:not(:nth-child(-n+3)) {
    display: none;
}

.event-card .content-subtitle {
    margin: 0;
    text-align: right;
}

.event-card .content-heading {
    margin: 10px 0 0 0;
}

.event-card .section-text {
    margin-top: 9px;
    width: 97%;
}

.event-card__link {
    position: absolute;
    bottom: 47px;
    border-bottom: solid 1px var(--mainColor);
}

.event-card__link:hover {
    color: #9D5CD0;
    border-color: #9D5CD0;
}

.event-card__link:active {
    color: #7943A4;
    border-color: #7943A4;
}

.section-event__button {
    display: block;
    margin: 20px auto 30px auto;
    padding: 18px 45px;
    background: none;
    color: var(--mainColor);
    font-size: 18px;
    font-weight: 700;
}

.section-event__swiper {
    display: none;
}

/* edition */

.section-edition {
    margin-top: 83px;
    padding: 93px 0 80px 0;
    background: url("background_img/edition/sectionBackground.jpg");
}

.section-content {
    display: flex;
}

.filter-menu__edition {
    flex-basis: 28%;
    display: flex;
    flex-direction: column;
    color: var(--whiteTextColor);
}

.edition__heading {
    margin-top: 30px;
}

.filter-menu__item {
    margin-top: 14px;
}

.filter-menu__checkbox {
    position: relative;
}

.filter-menu__checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-menu__checkbox>input+span::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 10px;
    height: 10px;
    border: var(--whiteTextColor) solid 1px;
}

.filter-menu__checkbox>input:checked+span::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--mainColor);
}

.filter-menu__checkbox>input:checked+span {
    color: var(--mainColor);
}

.filter-menu__checkbox>input:checked+span::before {
    border-color: var(--mainColor);
}

.filter-menu__checkbox>input:focus+span {
    outline: solid 1px var(--mainColor);
}

.filter-menu__checkbox:hover>span {
    color: var(--mainColor);
}

.filter-menu__checkbox:hover>span::before {
    border-color: var(--mainColor);
}

.edition__heading-price {
    margin-top: 41px;
}

.filter-range {
    display: inline-block;
    margin-top: 15px;
    padding: 0 9px;
    max-width: 280px;
    border: solid 1px var(--whiteTextColor);
    border-radius: 5px;
}

.filter-range__Text {
    display: inline-block;
    margin-right: 5px;
    padding: 9px 0;
}

.filter-range__Input {
    padding: 0 10px;
    width: 30%;
    height: 100%;
    background: var(--mainColor);
    color: var(--whiteTextColor);
    border: none;
}

.edition-card__list {
    display: none;
}

.section-edition .choices {
    display: none;
}

.edition__swiper-container {
    flex-basis: 72%;
}

.edition__swiper-wrapper {
    align-items: flex-end;
}

.edition__swiper-slide {
    padding: 35% 0 1px 0;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--whiteTextColor);
}

.artOfColor {
    background-image: url(background_img/edition/card/artOfColor.jpg);
}

.typographie {
    background-image: url(background_img/edition/card/typographie.jpg);
}

.bookaboutLetters {
    background-image: url(background_img/edition/card/bookaboutLetters.jpg);
}

.nikolayIlyin {
    background-image: url(background_img/edition/card/nikolayIlyin.jpg);
}

.modyleSystem {
    background-image: url(background_img/edition/card/modyleSystem.jpg);
}

.graphicEvolution {
    background-image: url(background_img/edition/card/graphicEvolution.jpg);
}

.artAndVisual {
    background-image: url(background_img/edition/card/artAndVisual.jpg);
}

.edition__slide-header {
    display: flex;
    justify-content: space-between;
}

.edition__swiper-slide .section-text {
    margin: 0;
    width: auto;
    line-height: 30px;
}

.edition__swiper-slide .filter-menu__heading {
    width: 80%;
    margin: 0;
    line-height: 30px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.edition__button {
    margin-top: 16px;
    padding: 8px 24px;
    color: var(--whiteTextColor);
    background: none;
}

.filter-menu__subtitle {
    font-size: var(--pFontSize);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.swiper-pagination__edition {
    top: 28px;
    left: 50px;
    bottom: auto;
    width: auto;
    color: var(--whiteTextColor);
}

.swiper-button-prev__edition, .swiper-button-next__edition {
    top: 43px;
}

/* section-projects */

.section-projects {
    padding: 88px 0 10px 0;
}

.section-projects .section-text {
    margin-top: 24px;
    width: calc(1054*100%/1600);
}

.popup {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    color: var(--whiteTextColor);
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    background: var(--mainColor);
}

.tippy-box {
    background-color: #cacaca;
}

.tippy-box[data-placement^='top']>.tippy-arrow::before {
    border-top-color: #cacaca;
}

.content-heading {
    margin-top: 23px;
    font-weight: 600;
}

.projects__sw-container {
    margin-top: 24px;
    position: relative;
}

.projects__swiper-container {
    width: calc(1731*100%/1920);
}

.projects__swiper-slide {
    height: 150px;
    border: solid 1px grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    filter: grayscale(1);
    opacity: 0.5;
}

.projects__swiper-slide:hover {
    filter: none;
    opacity: 1;
}

.section-projects .swiper-button-prev, .section-projects .swiper-button-next {
    width: 30px;
    height: 30px;
}

.section-projects .swiper-button-prev::after, .section-projects .swiper-button-next::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url('background_img/arrow\ \(black\).svg') center/50% no-repeat #cacaca;
    border-radius: 50%;
    opacity: .5;
}

.section-projects .swiper-button-prev::after {
    transform: rotate(90deg);
}

.section-projects .swiper-button-next::after {
    transform: rotate(-90deg);
}

.freelands {
    background-image: url('background_img/project/freelands.png');
}

.conteporary {
    background-image: url('background_img/project/conteporary.png');
    background-size: 68%;
}

.workhouse {
    background-image: url('background_img/project/workhouse.png');
    background-size: 60%;
}

.n1849 {
    background-image: url('background_img/project/1849.png');
    background-size: 30%;
}

.hicox {
    background-image: url('background_img/project/hicox.png');
    background-size: 35%;
}

.camden {
    background-image: url('background_img/project/camden.png');
}

.stassen {
    background-image: url('background_img/project/stassen.png');
}

.watssGalley {
    background-image: url('background_img/project/watssGalley.png');
    background-size: 35%;
}

.esad {
    background-image: url('background_img/project/esad.png');
}

/* contacts */

.mobile__320 {
    display: none;
}

.section-contacts {
    padding: 80px 0 0 0;
}

.section-container {
    margin-top: 23px;
    display: flex;
    width: auto;
}

.callback {
    padding-bottom: 120px;
    flex-basis: 36%;
    padding-left: calc((100vw - 1600px) / 2);
    border: #cacaca solid 1px;
}

.callback__heading {
    margin-top: 126px;
    font-size: 24px;
}

.callback__address {
    margin-top: 12px;
    font-style: normal;
}

.callback__form {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    max-width: 76%;
}

.callback__form .content-heading {
    margin-top: 0;
}

.callback__input {
    margin-top: 19px;
    padding-left: 27px;
    height: 43px;
    border-radius: 100px;
}

.button__callback {
    margin-top: 21px;
    background: none;
    width: 160px;
    color: var(--mainColor);
}

.fast-contact {
    margin-top: 40px;
}

.fast-contact__list {
    display: flex;
    margin-top: 20px;
}

.whatsapp, .telegramm {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.whatsapp {
    margin-right: 20px;
    background: url('background_img/contacts/whatsapp.svg') no-repeat center/cover;
}

.telegramm {
    background: url('background_img/contacts/telegramm.svg') no-repeat center/cover;
}

#map {
    flex-basis: 64%;
    height: auto;
}

@media (max-width: 1920px) {
    .callback {
        padding-left: calc((100vw - 83.3vw) / 2);
    }
}

@media (max-width: 1366px) {
    .container {
        max-width: 924px;
        width: calc(924*100%/1024);
    }
    .section-text {
        width: 100%;
    }
    /* header-top */
    .burger-menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .auth {
        display: none;
    }
    .logo {
        margin: 0 auto;
    }
    .header-top .search {
        display: flex;
    }
    /* header-bot */
    .header-bot {
        display: none;
    }
    /* sectio-hero */
    .section-hero {
        margin: -100px 0 0 0;
        padding: 205px 0 120px 0;
        background: url('background_img/hero/1-1024.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::after {
        background: url('background_img/hero/2-1024.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::before {
        background: url('background_img/hero/3-1024.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero__content {
        width: 660px;
    }
    .section-hero__header {
        width: 600px;
        line-height: 90px;
    }
    .section-hero__text {
        margin-top: 5px;
    }
    .section-hero__button {
        margin-top: 135px;
    }
    /* section-we */
    .section-we {
        padding-top: 85px;
    }
    /* section-gallery */
    .filter-menu {
        flex-basis: 31%;
    }
    .gallery__swiper-container {
        flex-basis: 65%;
        height: 680px;
    }
    .gallery__swiper-slide {
        margin-right: 0;
    }
    .gallery__img-slide {
        width: 100%;
        height: 100%;
    }
    .menu__note {
        width: 99%;
        margin-top: 370px;
    }
    .modal__content {
        width: 85%;
    }
    .modal__description {
        padding: 80px 50px;
    }
    /* catalog */
    .catalog-content__description {
        flex-basis: 47%;
        margin-right: 6%;
    }
    .catalog-content__subjectList {
        flex-basis: 47%;
    }
    .catalog-content__description .section-text {
        width: 101%;
    }
    .catalog-content__list {
        height: 420px;
    }
    /* event */
    .Museum_Shchuseva {
        background-image: url("background_img/event/Museum_Shchuseva-1024.jpg");
    }
    .MMOMA {
        background-image: url("background_img/event/MMOMA-1024.jpg");
    }
    .Jewish_Museum {
        background-image: url("background_img/event/Jewish_Museum-1024.jpg");
    }
    .Tretyakov_Gallery {
        background-image: url("background_img/event/Tretyakov_Gallery-1024.jpg");
    }
    .MMAM {
        background-image: url("background_img/event/MMAM-1024.jpg");
    }
    .event-card {
        padding: 22% 16px 108px 35px;
    }
    .event-card .section-text {
        width: 92%;
    }
    .section-event__button {
        margin: 10px auto 30px auto;
    }
    /* edition */
    .filter-menu__edition {
        flex-basis: 31%;
    }
    .edition__swiper-container {
        flex-basis: 67%;
    }
    .edition__swiper-wrapper {
        align-items: flex-start;
    }
    .edition__swiper-slide {
        margin-top: 13%;
        padding: 53% 0 1px 0;
    }
    /* project */
    .section-projects .section-text {
        width: auto;
    }
    .projects__swiper-slide {
        height: 125px;
    }
    /* contacts */
    .callback {
        padding-left: calc((100vw - 90.23vw) / 2);
    }
    .callback {
        flex-basis: 48%;
    }
    #map {
        flex-basis: 52%;
    }
    .whatsapp, .telegramm {
        width: 60px;
        height: 60px;
    }
    .whatsapp {
        margin-right: 28px;
    }
}

@media (max-width: 1000px) {
    .gallery__swiper-wrapper {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 668px;
        width: calc(668*100%/768);
    }
    /* section-hero */
    .section-hero {
        background: url('background_img/hero/1-768.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::after {
        background: url('background_img/hero/2-768.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::before {
        background: url('background_img/hero/3-768.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero__content {
        width: 100%;
    }
    .section-hero__header {
        font-size: 9.5vw;
        width: 90%;
    }
    /* section-gallery */
    .gallery-container {
        flex-direction: column;
    }
    .menu__note {
        display: none;
    }
    .gallery__swiper-container {
        margin: 0;
        flex-basis: 710px;
    }
    .filter-menu {
        flex-basis: 160px;
        width: 45%;
    }
    .menu__note-adaptive {
        margin: 12px 0 0 0;
        display: block;
    }
    .gallery__swiper-wrapper {
        justify-content: flex-end;
    }
    .gallery__swiper-slide {
        height: 40%;
    }
    .gallery__button-next, .gallery__button-prev {
        top: 60px;
    }
    .gallery__pagination {
        top: 45px;
    }
    .modal__content {
        width: 95%;
    }
    .modal__description {
        padding: 60px 50px;
    }
    /* catalog */
    .catalog-content {
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    .catalog-content__list {
        height: 325px;
    }
    .catalog-content__description {
        margin: 50px 0 0 0;
    }
    /* event */
    .section-event {
        padding-top: 75px;
    }
    .Museum_Shchuseva {
        background-image: url("background_img/event/Museum_Shchuseva-768.jpg");
    }
    .MMOMA {
        background-image: url("background_img/event/MMOMA-768.jpg");
    }
    .Jewish_Museum {
        background-image: url("background_img/event/Jewish_Museum-768.jpg");
    }
    .Tretyakov_Gallery {
        background-image: url("background_img/event/Tretyakov_Gallery-768.jpg");
    }
    .MMAM {
        background-image: url("background_img/event/MMAM-768.jpg");
    }
    .event-card {
        padding: 31% 16px 140px 35px;
        width: calc(100%/2 - 2.6%);
    }
    .event-card:not(:nth-child(-n+2)) {
        display: none;
    }
    .event-card:not(:nth-child(3n)) {
        margin-right: 0;
    }
    .event-card:not(:nth-child(2n)) {
        margin-right: calc(10%/2);
    }
    .event-card .content-heading {
        font-size: 27px;
    }
    .event-card .section-text {
        margin-top: 2px;
    }
    .section-event__button {
        margin: 40px auto 30px auto;
    }
    /* edition */
    .section-edition {
        padding: 88px 0 50px 0;
    }
    .section-content {
        flex-direction: column;
    }
    .edition__swiper-container {
        width: 100%;
    }
    .edition__swiper-slide {
        margin-top: 15%;
        padding: 53% 0 1px 0;
    }
    .swiper-pagination__edition {
        top: 45px;
    }
    .filter-menu__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 136px;
    }
    /* project */
    .section-projects {
        padding: 77px 0 10px 0;
    }
    .section-projects .section-text {
        width: 96%;
    }
    .projects__swiper-container {
        width: calc(650*100%/768);
    }
    .section-projects .content-heading {
        margin-top: 30px;
    }
    .projects__swiper-slide {
        height: 115px;
    }
    /* contacts */
    .callback {
        padding-left: calc((100vw - 86.98vw) / 2);
    }
    .callback {
        flex-basis: 56%;
    }
    .callback__form {
        min-width: 89%;
    }
    #map {
        flex-basis: 44%;
    }
}

@media (max-width: 576px) {
    :root {
        --h2FontSize: 28px;
        --pFontSize: 14px;
    }
    .container {
        max-width: 290px;
        width: calc(290*100%/320);
    }
    .section-text {
        margin-top: 5px;
        line-height: 28px;
    }
    /* .header-top */
    .header-top {
        padding: 10px 0;
    }
    .burger-menu__icon {
        width: 20px;
        height: 15px;
    }
    .burger-menu__icon span, .burger-menu__icon span::after, .burger-menu__icon span::before {
        height: 1.96px;
    }
    .burger-menu__icon span::after {
        width: 15.67px;
    }
    .burger-menu__icon span::before {
        width: 13.33px;
    }
    .burger-menu__closeIcon {
        width: 18px;
        height: 18px;
    }
    .logo img {
        width: 97px;
        height: 22px;
    }
    .search__window {
        padding-top: 15px;
    }
    .search__window .search {
        margin: 0 auto;
        width: 100%;
    }
    .search__window .container {
        display: block;
    }
    .search__button-img, .search:hover .search__button-img {
        width: 17px;
        height: 15px;
        background-size: contain;
    }
    .search__input {
        height: 16px;
    }
    /* section-hero */
    .section-hero {
        margin: -45px 0 0 0;
        padding: 80px 0 45px 0;
        background: url('background_img/hero/1-320.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::after {
        background: url('background_img/hero/2-320.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::before {
        background: url('background_img/hero/3-320.jpg') no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero__content {
        margin: 0 auto;
        width: 260px;
        text-align: center;
    }
    .section-hero__header {
        margin: 0 auto;
        width: 90%;
        font-size: 32px;
        line-height: 36px;
    }
    .section-hero__text {
        margin-top: 15px;
        font-size: 12px;
        line-height: 15px;
    }
    .section-hero__button {
        margin-top: 43px;
        padding: 12px 15px;
        font-size: 12px;
    }
    .section-hero__content {
        width: 100%;
    }
    /* section-we */
    .section-we {
        padding-top: 45px;
        padding-bottom: 42px;
    }
    /* section-gallery */
    .section-gallery {
        padding-top: 45px;
    }
    .gallery-container {
        margin-top: 5px;
    }
    .filter-menu {
        width: 100%;
    }
    .choices {
        margin-top: 10px;
    }
    .gallery__swiper-container {
        margin-top: 37px;
        flex-basis: 426px;
    }
    .gallery__swiper-slide {
        height: 366px;
    }
    .gallery__swiper-wrapper {
        justify-content: flex-start;
    }
    .gallery__pagination {
        top: 395px;
        left: 120px;
        width: 55px;
    }
    .gallery__button-next, .gallery__button-prev {
        top: 410px;
    }
    .gallery__button-next {
        left: 180px;
    }
    .swiper-button-prev {
        left: 80px;
    }
    .modal__content {
        flex-direction: column;
        width: 90%;
    }
    .modal__description {
        padding: 10px 10px;
    }
    /* catalog */
    .section-catalog__container {
        align-items: flex-start;
        flex-direction: column;
    }
    .language-pack__list {
        justify-content: normal;
        flex-basis: 0;
        margin-left: -7px;
        width: 105%;
    }
    .language-pack__item {
        width: 45px;
        height: 45px;
    }
    .language-pack__item:not(:last-child) {
        margin-right: auto;
    }
    .language-country {
        width: 30px;
        height: 30px;
    }
    .section-catalog .container>.section-text {
        display: none;
    }
    .catalog-content {
        margin-top: 13px;
    }
    .ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon, .ui-icon, .ui-widget-content .ui-icon, .ui-state-active .ui-icon {
        width: 30px;
        height: 30px;
    }
    .ui-accordion .ui-accordion-header {
        padding: 21px 0 22px 0;
        font-size: 18px;
    }
    .catalog-content__list {
        padding: 0;
        height: 787px;
    }
    .content-heading {
        margin-top: 21px;
        font-size: 23px;
        font-weight: 600;
    }
    .catalog-content__description .section-text {
        width: 99%;
        font-size: 16px;
        line-height: 32px;
    }
    /* event */
    .section-event {
        padding-top: 45px;
    }
    .section-event__list {
        display: none;
    }
    .section-event__swiper {
        display: block;
        margin: 6px 0 0 0;
        height: 725px;
    }
    .Museum_Shchuseva {
        background-image: url("background_img/event/Museum_Shchuseva-320.jpg");
    }
    .MMOMA {
        background-image: url("background_img/event/MMOMA-320.jpg");
    }
    .Jewish_Museum {
        background-image: url("background_img/event/Jewish_Museum-320.jpg");
    }
    .Tretyakov_Gallery {
        background-image: url("background_img/event/Tretyakov_Gallery-320.jpg");
    }
    .MMAM {
        background-image: url("background_img/event/MMAM-320.jpg");
    }
    .event-card:not(:nth-child(2n)) {
        margin-right: 0;
    }
    .event-card {
        margin: 0;
        padding: 210px 5px 140px 30px;
        height: 683px;
    }
    .event-card .content-heading {
        margin-top: 8px;
        font-size: 24px;
        line-height: 33px;
    }
    .swiper-slide.event-card {
        display: block;
    }
    .event-card .section-text {
        margin-top: 20px;
    }
    .event-card .section-text {
        margin-top: 36px;
        width: 90%;
        font-size: 16px;
        line-height: 32px;
    }
    .section-event__button {
        display: none;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 8px;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    /* edition */
    .section-edition {
        margin-top: 40px;
        padding-top: 45px;
    }
    .edition__swiper-container {
        display: none;
    }
    .filter-menu__item {
        display: none;
    }
    .edition__heading {
        display: none;
    }
    .section-edition .choices {
        display: block;
        margin-top: 7px;
    }
    .section-edition .choices::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        width: 24px;
        height: 24px;
        background-image: url('background_img/edition/arrowWhite.svg');
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(90deg);
        transition: transform .3s ease;
    }
    .section-edition .is-open.choices::after {
        transform: rotate(270deg);
    }
    .section-edition .choices__input {
        min-width: 12ch !important;
        background: rgba(0, 0, 0, 0);
        color: var(--whiteTextColor);
    }
    .section-edition .choices__input::placeholder {
        font-size: 16px;
        font-weight: 700;
        color: var(--whiteTextColor);
    }
    .section-edition .choices__inner {
        display: flex;
        padding: 7.5px 0 0 0;
        min-height: 40px;
        flex-direction: column-reverse;
        border: none;
        border-top: 1px solid var(--whiteTextColor);
        border-bottom: 1px solid var(--whiteTextColor);
        border-radius: 0;
    }
    .section-edition .choices__item {
        padding: 0;
    }
    .section-edition .choices__list--multiple .choices__item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 11px 0;
        font-size: 16px;
        margin: 0;
        border: none;
        border-top: 1px solid var(--whiteTextColor);
        border-radius: 0;
        background: none;
        color: var(--mainColor);
    }
    .section-edition .choices__list--multiple .choices__item::before {
        border-color: var(--mainColor);
    }
    .section-edition .choices__list--multiple .choices__item::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 2.5px);
        left: 3px;
        width: 5px;
        height: 5px;
        background: var(--mainColor);
        border-radius: 50%;
    }
    .section-edition .choices__item::before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        border: solid 1px var(--whiteTextColor);
    }
    .choices[data-type*=select-multiple] .choices__button {
        margin-left: auto;
        background-image: url(background_img/edition/delChoicesIcon.svg);
        background-size: contain;
        border-left: none;
    }
    .section-edition .choices__list--dropdown {
        background: rgba(9, 8, 11, 0.6);
        color: var(--whiteTextColor);
    }
    .section-edition .choices__item--choice {
        display: flex;
        align-items: center;
        min-height: 40px;
        border: none;
        border-top: solid 1px var(--whiteTextColor);
        font-size: 16px;
    }
    .edition-card__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
    }
    .edition-card__item {
        padding: 155px 0 0 0;
        width: 45%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .edition-card__item:nth-child(n+3) {
        margin-top: 55px;
    }
    .edition-card__list .filter-menu__heading {
        margin: 0;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .edition-card__list .filter-menu__subtitle {
        margin: 0;
        font-size: 12px;
        color: var(--whiteTextColor);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .edition-card__list .section-text {
        margin: 7px 0 0 0;
        font-size: 12px;
        color: var(--whiteTextColor);
        line-height: 12px;
    }
    .edition-card__list .edition__button {
        margin-top: 13px;
        padding: 10px 24px;
        width: 100%;
        font-size: 12px;
    }
    /* project */
    .section-projects {
        padding: 47px 0 10px 0;
    }
    .section-projects .section-text {
        margin-top: 8px;
        line-height: 32px;
        font-size: 16px;
    }
    .section-projects .content-heading {
        margin-top: 13px;
        font-size: 18px;
    }
    .projects__swiper-container {
        margin: 19px auto 0 auto;
        width: calc(220*100%/320);
    }
    .projects__swiper-slide {
        height: 65px;
    }
    .swiper-button-prev {
        left: 5px;
    }
    .swiper-button-next {
        right: 5px;
    }
    /* contacts */
    .section-contacts {
        padding-top: 30px;
    }
    .section-container {
        flex-direction: column;
        margin-top: auto;
    }
    .callback {
        padding-left: calc((100vw - 90.62vw) / 2);
        padding-bottom: 0;
        border: none;
    }
    .callback__heading {
        margin-top: 9px;
        font-size: 16px;
    }
    .callback__address {
        margin-top: 2px;
        font-size: 14px;
    }
    .mobile__320 {
        display: block;
    }
    .desktop {
        display: none;
    }
    .callback__form {
        margin-top: 30px;
        padding-left: calc((100vw - 90.62vw) / 2);
        padding-right: calc((100vw - 90.62vw) / 2);
        max-width: none;
    }
    .callback__input {
        width: 100%;
    }
    .button__callback {
        padding: 9px 27px;
        width: auto;
    }
    .section-contacts .content-heading {
        font-size: 17px;
    }
    .fast-contact {
        margin-top: 0;
        padding-left: calc((100vw - 90.62vw) / 2);
        padding-right: calc((100vw - 90.62vw) / 2);
    }
    .fast-contact .content-heading {
        margin-top: 25px;
    }
    .fast-contact__list {
        margin-top: 14px;
    }
    .whatsapp, .telegramm {
        width: 50px;
        height: 50px;
    }
    .whatsapp {
        margin-right: 20px;
    }
    #map {
        margin-top: 15px;
        flex-basis: 320px;
    }
}

@media (max-width: 320px) {
    .section-hero__header {
        font-size: 7.1vw;
    }
}

@keyframes heroSize {
    0% {
        background-size: 100% auto;
    }
    33% {
        background-size: 100% auto;
    }
    66% {
        background-size: 100% auto;
    }
    100% {
        background-size: 110% auto;
    }
}

@keyframes heroChange {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}