@font-face {
    font-family: 'Open Sans';
    src: url("fonts/opensans-regular-webfont.woff2"), url("fonts/opensans-regular-webfont.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url("fonts/opensans-semibold-webfont.woff2"), url("fonts/opensans-semibold-webfont.woff");
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url("fonts/opensans-bold-webfont.woff2"), url("fonts/opensans-bold-webfont.woff");
    font-weight: 700;
}

:root {
    --backgroundColor: #e5e5e5;
    --mainColor: #9d5cd0;
    --whiteTextColor: #ffffff;
    --h2FontSize: 48px;
    --h3FontSize: 24px;
    --headerLinkFontSize: 18px;
    --pFontSize: 16px;
    --activeColor: #7943A4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    font-family: 'Open Sans';
    background-color: var(--backgroundColor);
}

p, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    width: calc(1600*100%/1920);
}

.button {
    display: inline-block;
    padding: 17px 35px;
    border: 2px solid var(--mainColor);
    border-radius: 100px;
}

/* header-top */

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding: 29px 0;
    background-color: #000000;
    z-index: 2;
}

.burger-menu {
    display: none;
}

.burger-menu__icon {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 36px;
    height: 28px;
    border: none;
    background: transparent;
}

.burger-menu__icon:hover {
    cursor: pointer;
}

.burger-menu__icon span {
    display: block;
    height: 3.65px;
    background: var(--whiteTextColor);
}

.burger-menu__icon span:nth-child(1) {
    width: 100%;
}

.burger-menu__icon span:nth-child(2) {
    margin-top: auto;
    width: 80%;
}

.burger-menu__icon span:nth-child(3) {
    margin-top: auto;
    width: 60%;
}

.burger-menu__window {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 29px;
    padding-bottom: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.burger-menu__window-disabled {
    display: none;
}

.burger-menu__closeIcon {
    position: relative;
    width: 29px;
    height: 29px;
}

.burger-menu__closeIcon:hover {
    cursor: pointer;
}

.burger-menu__closeIcon span::before {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3.73px;
    background: var(--whiteTextColor);
    transform: rotate(45deg);
}

.burger-menu__closeIcon span::after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3.73px;
    background: var(--whiteTextColor);
    transform: rotate(-45deg);
}

.burger-menu__list {
    margin-top: 55px;
}

.burger-menu__item {
    margin-top: 40px;
}

.burger-menu__auth {
    display: inline-block;
    margin-top: 135px;
    padding: 20px 95px;
    border: 2px solid var(--mainColor);
    border-radius: 100px;
    background: none;
}

.header-top .search {
    display: none;
}

.search__input-disabled {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logo a:focus {
    outline: 2px solid var(--activeColor);
}

.navigation {
    margin: 0 auto;
    flex-basis: 900px;
}

.auth {
    margin-left: 10px;
    flex-shrink: 0;
}

.navigation__list {
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: auto;
}

.navigation__link {
    color: var(--whiteTextColor);
    font-size: var(--headerLinkFontSize);
    font-weight: 600;
}

.navigation__link:focus {
    outline: 2px solid var(--activeColor);
}

.navigation__link:hover {
    color: var(--mainColor);
}

.navigation__link:active {
    color: var(--activeColor);
}

.auth__link {
    color: var(--whiteTextColor);
    font-size: var(--headerLinkFontSize);
    font-weight: 600;
}

.auth__icon {
    display: inline-block;
    margin-right: 7px;
    width: 13px;
    height: 13px;
}

.auth__link:focus {
    outline: 2px solid var(--activeColor);
}

.auth__link:hover {
    color: var(--mainColor);
}

.auth__link:hover .auth__icon svg path {
    fill: var(--mainColor);
}

.auth__link:active {
    color: var(--activeColor);
}

.auth__link:active .auth__icon svg path {
    fill: var(--activeColor);
}

.search__window {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 36px;
    width: 100%;
    height: 75px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
}

.search__window-disabled {
    display: none;
}

.search__window .container {
    display: flex;
    flex-direction: row-reverse;
}

.search__window .burger-menu__closeIcon {
    margin-left: auto;
}

.search__window .search {
    width: 615px;
}

.search__window .search__input {
    width: 100%;
}

.search__window .search__input::placeholder {
    visibility: hidden;
}

/* header-bot */

.header-bot {
    position: relative;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.product-nav {
    margin-right: auto;
    flex-basis: 1040px;
}

.product-nav__list {
    display: flex;
}

.product-nav__header {
    cursor: pointer;
}

.product-nav__item {
    color: var(--whiteTextColor);
    font-size: var(--headerLinkFontSize);
    font-weight: 600;
}

.product-nav__item:not(:last-child) {
    margin-right: auto;
}

.product-nav__item:focus {
    outline: 2px solid var(--activeColor);
}

.product-nav__item:hover {
    color: var(--mainColor);
}

.product-nav__item:hover .product-nav__arrow {
    background: url("background_img/arrowHover.svg") center center no-repeat;
}

.product-nav__item:active {
    color: var(--activeColor);
}

.product-nav__item:active .product-nav__arrow {
    background: url("background_img/arrowActive.svg") center center no-repeat;
}

.product-nav__arrow {
    margin-left: 4px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("background_img/arrow.svg") center center no-repeat;
    transition: transform .3s linear;
}

.product-nav__arrow-open {
    transform: rotate(180deg);
    transition: transform .3s linear;
}

.popup__menu {
    position: absolute;
    top: 68.75px;
    padding: 40px 0 40px 40px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: opacity .3s linear;
}

[data-simplebar] {
    overflow: auto;
}

.product-nav__menuList {
    width: 100%;
    height: 100%;
    padding-right: 40px;
}

.popup__menu .simplebar-scrollbar::before {
    left: 0;
    right: 0;
    width: 5px;
    border-radius: 0;
    background-color: var(--mainColor);
    opacity: 1;
}

.popup__menu .simplebar-track {
    right: 20px;
    width: 2px;
    background: black;
    z-index: 0;
}

.popup__menu-disabled {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
}

.product-nav__menuItem {
    margin: 2px;
}

.product-nav__menuItem:not(:last-child) {
    margin-bottom: 20px;
}

.product-nav__menuLink {
    display: block;
    position: relative;
    padding: 11px 124px 11px 14px;
    color: var(--whiteTextColor);
    font-size: var(--pFontSize);
}

.product-nav__menuLink:hover, .product-nav__menuLink:focus {
    outline: 2px solid var(--mainColor);
}

.product-nav__menuLink:active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(194, 131, 243, 0.4);
}

.menuLink1_1 {
    background-image: url(background_img/headerbot/menuLink1_1.jpg);
}

.menuLink1_2 {
    background-image: url(background_img/headerbot/menuLink1_2.jpg);
}

.menuLink1_3 {
    background-image: url(background_img/headerbot/menuLink1_3.jpg);
}

.menuLink1_4 {
    background-image: url(background_img/headerbot/menuLink1_4.jpg);
}

.menuLink2_1 {
    background-image: url(background_img/headerbot/menuLink2_1.jpg);
}

.menuLink2_2 {
    background-image: url(background_img/headerbot/menuLink2_2.jpg);
}

.menuLink2_3 {
    background-image: url(background_img/headerbot/menuLink2_3.jpg);
}

.menuLink2_4 {
    background-image: url(background_img/headerbot/menuLink2_4.jpg);
}

.menuLink3_1 {
    background-image: url(background_img/headerbot/menuLink3_1.jpg);
}

.menuLink3_2 {
    background-image: url(background_img/headerbot/menuLink3_2.jpg);
}

.menuLink3_3 {
    background-image: url(background_img/headerbot/menuLink3_3.jpg);
}

.menuLink3_4 {
    background-image: url(background_img/headerbot/menuLink3_4.jpg);
}

.menuLink4_1 {
    background-image: url(background_img/headerbot/menuLink4_1.jpg);
}

.menuLink4_2 {
    background-image: url(background_img/headerbot/menuLink4_2.jpg);
}

.menuLink4_3 {
    background-image: url(background_img/headerbot/menuLink4_3.jpg);
}

.menuLink4_4 {
    background-image: url(background_img/headerbot/menuLink4_4.jpg);
}

.menuLink5_1 {
    background-image: url(background_img/headerbot/menuLink5_1.jpg);
}

.menuLink5_2 {
    background-image: url(background_img/headerbot/menuLink5_2.jpg);
}

.menuLink5_3 {
    background-image: url(background_img/headerbot/menuLink5_3.jpg);
}

.menuLink5_4 {
    background-image: url(background_img/headerbot/menuLink5_4.jpg);
}

.search {
    display: flex;
}

.search:hover .search__button-img {
    background: url(background_img/searchActive.svg) no-repeat;
}

.search:hover .search__input {
    border-bottom: 1px solid var(--mainColor);
}

.search__button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search__button-img {
    display: block;
    width: 23px;
    height: 22px;
    background: url(background_img/search.svg) no-repeat;
}

.search__button:focus {
    outline: 2px solid var(--mainColor);
}

.search__input {
    margin-left: 9px;
    padding: 5px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    background-color: transparent;
    color: var(--whiteTextColor);
    caret-color: var(--mainColor);
}

.search__input:focus {
    outline: 2px solid var(--mainColor);
}

.search__input:active {
    border-bottom: 1px solid var(--mainColor);
}

.search__input::placeholder {
    font-size: var(--headerLinkFontSize);
    color: rgba(255, 255, 255, 0.85);
}

/* HERO */

.section-hero {
    position: relative;
    margin: -170.45px 0 0 0;
    padding: 240px 0 127px 0;
    background: url("background_img/hero/1.jpg");
    background-size: 100%;
    background-position: center;
    animation: heroSize 2s linear infinite alternate;
}

.section-hero::after, .section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.section-hero::after {
    opacity: 0;
    background: url("background_img/hero/2.jpg");
    background-size: 100%;
    background-position: center;
    animation-name: heroSize, heroChange;
    animation-duration: 2s, 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.section-hero::before {
    opacity: 0;
    background: url("background_img/hero/3.jpg");
    background-size: 100%;
    background-position: center;
    animation-name: heroSize, heroChange;
    animation-duration: 2s, 10s;
    animation-delay: 0s, 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.section-hero__content {
    position: relative;
    width: 597px;
    z-index: 1;
}

.section-hero__header {
    font-size: 72px;
    font-weight: 700;
    line-height: 85px;
    color: var(--whiteTextColor);
}

.section-hero__text {
    margin-top: 15px;
    font-size: var(--headerLinkFontSize);
    font-weight: 700;
    line-height: 30px;
    color: var(--whiteTextColor);
}

.section-hero__button {
    margin-top: 92px;
    padding: 20.5px 35px;
    background-color: var(--mainColor);
    color: var(--whiteTextColor);
    font-weight: 700;
    font-size: var(--headerLinkFontSize);
}

.section-hero__button:visited {
    border-color: #7943A4;
}

.section-hero__button:hover {
    border-color: #D1A9F0;
}

.section-hero__button:active {
    border-color: #D1A9F0;
    background-color: #7943A4;
}

@media (max-width: 1024px) {
    body {
        max-width: 1024px;
    }
    /* header-top */
    .burger-menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .auth {
        display: none;
    }
    .logo {
        margin: 0 auto;
    }
    .header-top .search {
        display: flex;
    }
    /* header-bot */
    .header-bot {
        display: none;
    }
    /* sectio-hero */
    .section-hero {
        margin: -100px 0 0 0;
        padding: 205px 0 120px 0;
        background: url('background_img/hero/1-1024.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::after {
        background: url('background_img/hero/2-1024.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::before {
        background: url('background_img/hero/3-1024.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero__content {
        width: 660px;
    }
    .section-hero__header {
        width: 600px;
        line-height: 90px;
    }
    .section-hero__text {
        margin-top: 5px;
    }
    .section-hero__button {
        margin-top: 135px;
    }
}

@media (max-width: 768px) {
    body {
        width: 768px;
    }
    /* section-hero */
    .section-hero {
        background: url('background_img/hero/1-768.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::after {
        background: url('background_img/hero/2-768.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::before {
        background: url('background_img/hero/3-768.jpg');
        background-size: auto 100%;
        background-position: center;
    }
}

@media (max-width: 320px) {
    body {
        width: 320px;
    }
    /* .header-top */
    .header-top {
        padding: 10px 0;
    }
    .burger-menu__icon {
        width: 20px;
        height: 15px;
    }
    .burger-menu__icon span, .burger-menu__icon span::after, .burger-menu__icon span::before {
        height: 1.96px;
    }
    .burger-menu__icon span::after {
        width: 15.67px;
    }
    .burger-menu__icon span::before {
        width: 13.33px;
    }
    .burger-menu__closeIcon {
        width: 18px;
        height: 18px;
    }
    .logo img {
        width: 97px;
        height: 22px;
    }
    .search__window {
        padding-top: 15px;
    }
    .search__window .search {
        margin: 0 auto;
        width: 200px;
    }
    .search__window .container {
        display: block;
    }
    .search__button-img, .search:hover .search__button-img {
        width: 17px;
        height: 15px;
        background-size: contain;
    }
    .search__input {
        height: 16px;
    }
    /* section-hero */
    .section-hero {
        margin: -45px 0 0 0;
        padding: 80px 0 45px 0;
        background: url('background_img/hero/1-320.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::after {
        background: url('background_img/hero/2-320.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero::before {
        background: url('background_img/hero/3-320.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    .section-hero__content {
        margin: 0 auto;
        width: 260px;
        text-align: center;
    }
    .section-hero__header {
        width: 100%;
        font-size: 32px;
        line-height: 36px;
    }
    .section-hero__text {
        margin-top: 15px;
        font-size: 12px;
        line-height: 15px;
    }
    .section-hero__button {
        margin-top: 43px;
        padding: 12px 15px;
        font-size: 12px;
    }
}

@keyframes heroSize {
    0% {
        background-size: auto 100%;
    }
    33% {
        background-size: auto 100%;
    }
    66% {
        background-size: auto 100%;
    }
    100% {
        background-size: auto 110%;
    }
}

@keyframes heroChange {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}